body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #878787;
  margin-bottom: 0;
}

footer {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #000;
}

.row {
  padding: 10px;
  margin: auto;
}
