.container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #000;
}

.row {
  padding: 10px;
  margin: auto;
}

footer {
  text-align: center;
}

ul {
  list-style: none;
}
